<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cloud Storage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style-browsing-files.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Treeview/style-tree-view.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/dialog/dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/dialog/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/scripts_uploading_files/upload-file-ajax.js"></script>
    <script src="~/Scripts/scripts_uploading_files/right-click-menu.js"></script>
    <script src="~/Scripts/scripts_uploading_files/drag-and-drop.js"></script>
    <script src="~/Scripts/scripts-treeview/treeview.js"></script>
    <script src="~/Scripts/displays-files/show-files-in-folder.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>

    
    <script src="~/Scripts/scripts_uploading_files/add-folder.js"></script>
    <script src="~/Scripts/scripts_uploading_files/dialog.js"></script>


</head>
<body onclick="HideMenu('contextMenu');" oncontextmenu="return false">
    <!--Navigation bar with registration-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cloud Storage", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @Html.Hidden("MyURL", @Url.Action("Upload", "Files"))
    <input type="file" id="inputUpload" style="display: none" name="files" class="multiple" multiple>


    <!--custom right-click menu that allows to add files and folders-->
    <br /> <br />
    <div style="display:none; " id="contextMenu">
        <table border="0" cellpadding="0" cellspacing="0"
               style="border: thin solid #808080; cursor: default;" width="100px"
               bgcolor="White">
            <tr>
                <td>
                    <div onclick="addFiles()" onmouseup=" ShowMenu('contextMenu', 'none' , event);" class="ContextItem">Upload files</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div onclick="addFolder()" onmouseup=" ShowMenu('contextMenu', 'none' , event);" class="ContextItem">Add folder</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div onclick="javascript:alert('You Clicked '+this.innerHTML);" onmouseup="ShowMenu('contextMenu','none',event);" class="ContextItem">Add note</div>
                </td>
            </tr>
        </table>
    </div>
    <!--Dialog box-->
    <div class="containerDialog">
            <div id="dialog" title="New folder">
                <form action="" method="post" onsubmit="return false">
                    <label>Name:</label>
                    <input id="name" name="name" type="text">
                    <input id="submit" type="submit" value="Create">
                </form>
            </div>
    </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Cloud Storage</p>
                </footer>
            </div>


            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)


</body>
</html>
