@using CloudStorage.UI.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<p class="text-success">@ViewBag.StatusMessage</p>


        <div class="row">
            <div class="col-md-offset-4">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>

       
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
